*{
  margin: 0;
  padding: 0;
}

header{
  background-color:burlywood;
  padding: 10px;
  margin: 0 auto;
}

header h1{
  color:black ;
}

.body-element{
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 20px;
  margin: 0 auto;
  gap: 100px;
}